<div style="background-color:white;">
<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
      <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
        <img class="mb-4" src="{{ asset('img/logo.png') }}" alt="Logo" style="width: 99%">
      </a>
      <p class="text-body-secondary">&copy; 2024 Aucun droit réservé</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>Nos Produits</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Tout les articles</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Toutes les catégories</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Vous</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Offre d'emploi</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Vendre votre âme</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Contact</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Conditions général</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contacter l'équipe</a></li>
      </ul>
    </div>
  </footer>
</div>
</div>